* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5 ease;
  top: 2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  height: 100%;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo__content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo__content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo__content .logo i {
  font-size: 28px;
  margin-right: .1rem;
  margin-left: .8rem;
}

.logo__content .logo .logo__name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #icon-logo {
  position: absolute;
  top: .3rem;
  left: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  color: #fff;
}

.sidebar.active #icon-logo {
  left: 90%;
}

.sidebar ul {
  margin-top: 1.5rem;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;

  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  top: 0;
  left: 122px;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 35px;
  border-radius: 6px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 3.1rem;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
  border-radius: 8px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links__name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links__name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile__content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile__content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4s ease;
}

.sidebar.active .profile__content .profile {
  background: #1d1b31;
}

.profile__content .profile .profile__details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile .profile__details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile__details img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile__details .name__job {
  margin-left: 10px;
}

.profile .profile__details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile__details .job {
  font-size: 12px;
}

.profile #log__out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  background: #1d1b31;
}

.sidebar.active .profile #log__out {
  left: 88%;
  transition: all 0.4s ease;
}

.sidebar.active .profile #log__out {
  background: none;
}

/* ===== FIM SIDEBAR ====== */

.home__content {
  display: flex;
  justify-content: center;

}

.sidebar.active~.home__content {
  width: calc(100% - 240px);
  left: 240px;
}

/* ===== FIM DA HOME====== */



.cad__usuario-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form__usuario-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 3rem;
}

.area__dados-pessoais {
  display: flex;
  flex-direction: column;
}

.area__dados-pessoais span {
  font-size: 18px;
  margin-left: 1rem;
}

.dados__pessoais {
  display: flex;
  justify-content: center;
}

.area__endereco span {
  font-size: 18px;
  margin-left: 1rem;
}

.area__endereco {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.endereco {
  display: flex;
  justify-content: center;
}

.form__usuario-content .item__usuario {
  margin: .5rem 1rem;
}

.item__usuario input {
  display: block;
  padding: .8rem;
  margin-top: .2rem;
}

.sidebar.active~.cad__usuario-content {
  width: calc(100% - 240px);
  left: 240px;
}

/* ===== FIM DA CAD. USUÃRIO ====== */




.item__usuario {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.item__usuario>input,
.item__usuario>textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.item__usuario>input+span,
.item__usuario>textarea+span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.item__usuario>input+span::before,
.item__usuario>input+span::after,
.item__usuario>textarea+span::before,
.item__usuario>textarea+span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.item__usuario>input+span::before,
.item__usuario>textarea+span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.item__usuario>input+span::after,
.item__usuario>textarea+span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.item__usuario:hover>input,
.item__usuario:hover>textarea {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  border-top-color: transparent;
}

.item__usuario:hover>input+span::before,
.item__usuario:hover>textarea+span::before,
.item__usuario:hover>input+span::after,
.item__usuario:hover>textarea+span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.item__usuario:hover>input:not(:focus):placeholder-shown,
.item__usuario:hover>textarea:not(:focus):placeholder-shown {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.item__usuario>input:not(:focus):placeholder-shown,
.item__usuario>textarea:not(:focus):placeholder-shown {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

.item__usuario>input:not(:focus):placeholder-shown+span,
.item__usuario>textarea:not(:focus):placeholder-shown+span {
  font-size: inherit;
  line-height: 68px;
}

.item__usuario>input:not(:focus):placeholder-shown+span::before,
.item__usuario>textarea:not(:focus):placeholder-shown+span::before,
.item__usuario>input:not(:focus):placeholder-shown+span::after,
.item__usuario>textarea:not(:focus):placeholder-shown+span::after {
  border-top-color: transparent;
}

/* Focus */
.item__usuario>input:focus,
.item__usuario>textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.item__usuario>input:focus+span,
.item__usuario>textarea:focus+span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.item__usuario>input:focus+span::before,
.item__usuario>input:focus+span::after,
.item__usuario>textarea:focus+span::before,
.item__usuario>textarea:focus+span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.item__usuario>input:disabled,
.item__usuario>input:disabled+span,
.item__usuario>textarea:disabled,
.item__usuario>textarea:disabled+span {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  border-top-color: transparent !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  pointer-events: none;
}

.item__usuario>input:disabled+span::before,
.item__usuario>input:disabled+span::after,
.item__usuario>textarea:disabled+span::before,
.item__usuario>textarea:disabled+span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.item__usuario>input:disabled:placeholder-shown,
.item__usuario>input:disabled:placeholder-shown+span,
.item__usuario>textarea:disabled:placeholder-shown,
.item__usuario>textarea:disabled:placeholder-shown+span {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.item__usuario>input:disabled:placeholder-shown+span::before,
.item__usuario>input:disabled:placeholder-shown+span::after,
.item__usuario>textarea:disabled:placeholder-shown+span::before,
.item__usuario>textarea:disabled:placeholder-shown+span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {

    .item__usuario>input,
    .item__usuario>input+span,
    .item__usuario>textarea,
    .item__usuario>textarea+span,
    .item__usuario>input+span::before,
    .item__usuario>input+span::after,
    .item__usuario>textarea+span::before,
    .item__usuario>textarea+span::after {
      transition-duration: 0.1s;
    }
  }
}