* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace --trasintion: all 400ms ease;
  --trasintion: all 400ms ease;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  color: #11101dd7;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: var(--light);
}

.sidebar.active~.home__content,
.sidebar.active~.cad__usuario-contentainer,
.sidebar.active~.header__container,
.sidebar.active~.footer__container {
  width: calc(100% - 240px);
  left: 240px;
}

.container {
  padding: 4em 10rem;
}

/* ==== Fim de Configurações Padrão ==== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  /* height: 100%; */
  background: #2e3267;
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 5;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo__content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo__content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo__content .logo i {
  font-size: 28px;
  margin-right: .1rem;
  margin-left: .8rem;
}

.logo__content .logo .logo__name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #icon-logo {
  position: absolute;
  top: .3rem;
  left: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  color: #fff;
}

.sidebar.active #icon-logo {
  left: 90%;
}

.sidebar ul {
  margin-top: 1.5rem;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;

  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  top: 0;
  left: 122px;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 35px;
  border-radius: 6px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 3.1rem;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links__name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links__name {
  opacity: 1;
  pointer-events: auto;
}

.profile #log__out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  background: #1d1b31;
}

.sidebar.active .profile #log__out {
  left: 88%;
  transition: all 0.4s ease;
}

.sidebar.active .profile #log__out {
  background: none;
}

/* ===== FIM SIDEBAR ====== */

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(153, 152, 152, 0.2);
  background-color: #f8f9fc;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

/* ===== Home ===== */
.home__content {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;


}

.home__area {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;

}

/* ==== Cards de Cadastros da Home ====== */
.home__area-cards {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  padding: 0 2rem;


}

.card__item a {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .3rem;
  transition: var(--trasintion);
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(153, 152, 152, 0.2);
  border: .1px solid rgba(175, 175, 175, 0.575);
  border-left: .75rem solid rgb(8, 86, 122);
  text-decoration: none;
  color: rgb(100, 100, 100);
}

.card__item a:hover {
  box-shadow: 0 .50rem .75rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.card__item i {
  background: #1cc88a;
  padding: 1rem;
  border-radius: 50%;
  color: white;
}

.card__item h3 {
  padding-top: .5rem;
}

/* ====== Área de Pesquisa da home =====  */
.home__area-pesquisa {
  display: flex;
  flex: 1;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 90%;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 0 1rem 2rem rgba(153, 152, 152, 0.2);
  margin: 0;
  padding: 0;

}

.search-box .search-txt {
  width: 85%;
  top: 50px;
  color: #11101d;
  border-radius: 1rem;
  margin-left: 29px;

}

.search-btn:hover {
  background: #8d8c8c;
}

.search-btn {
  color: black;
  float: right;
  width: 50px;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
  background: #c4c4c4;

}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
}


/* ====== Cadastro de Usuários ======= */
.cad__usuario-contentainer {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.cad__usuario-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem 0;
  width: 80%;

}

/* ===== Dados Pessoai ==== */
.cad__usuario-dados-pessoais {
  display: flex;
  flex-direction: column;
}

.cad__usuario-dados-pessoais form {
  display: grid;
  grid-template-columns: 1fr .5fr .5fr .5fr;
}

.dados__pessoais {
  display: flex;
  padding: .4rem 0;
  flex-direction: row;
}

/* ====== Dados de Endereço ====== */
.cad__usuario-dados-endereco {
  display: flex;
  flex-direction: column;
}

.cad__usuario-dados-endereco form {
  display: grid;
  grid-template-columns: .5fr 1fr .3fr 1fr;

}

.dados__endereco {
  display: flex;
  padding: .4rem 0;
  flex-direction: row;
}

/* ===== Button Cadastrar ===== */
.button-cadastrar {
  display: flex;
  justify-content: end;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

button {
  display: block;
  padding: 1rem;
  text-align: center;
  width: 9rem;
  border-radius: 8px;
  cursor: pointer;

}

/*  ==== Inputs do Formulário ===== */
.pure-material-textfield-outlined {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding: 6px 16px 0 0;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-outlined>input,
.pure-material-textfield-outlined>textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined>input+span,
.pure-material-textfield-outlined>textarea+span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined>input+span::before,
.pure-material-textfield-outlined>input+span::after,
.pure-material-textfield-outlined>textarea+span::before,
.pure-material-textfield-outlined>textarea+span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined>input+span::before,
.pure-material-textfield-outlined>textarea+span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.pure-material-textfield-outlined>input+span::after,
.pure-material-textfield-outlined>textarea+span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
  margin-right: 15px;
}

/* Hover */
.pure-material-textfield-outlined:hover>input,
.pure-material-textfield-outlined:hover>textarea {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  border-top-color: transparent;
}

.pure-material-textfield-outlined:hover>input+span::before,
.pure-material-textfield-outlined:hover>textarea+span::before,
.pure-material-textfield-outlined:hover>input+span::after,
.pure-material-textfield-outlined:hover>textarea+span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure-material-textfield-outlined:hover>input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover>textarea:not(:focus):placeholder-shown {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.pure-material-textfield-outlined>input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span {
  font-size: inherit;
  line-height: 68px;
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span::before,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span::before,
.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span::after,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined>input:focus,
.pure-material-textfield-outlined>textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.pure-material-textfield-outlined>input:focus+span,
.pure-material-textfield-outlined>textarea:focus+span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-textfield-outlined>input:focus+span::before,
.pure-material-textfield-outlined>input:focus+span::after,
.pure-material-textfield-outlined>textarea:focus+span::before,
.pure-material-textfield-outlined>textarea:focus+span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.pure-material-textfield-outlined>input:disabled,
.pure-material-textfield-outlined>input:disabled+span,
.pure-material-textfield-outlined>textarea:disabled,
.pure-material-textfield-outlined>textarea:disabled+span {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  border-top-color: transparent !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  pointer-events: none;
}

.pure-material-textfield-outlined>input:disabled+span::before,
.pure-material-textfield-outlined>input:disabled+span::after,
.pure-material-textfield-outlined>textarea:disabled+span::before,
.pure-material-textfield-outlined>textarea:disabled+span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown,
.pure-material-textfield-outlined>input:disabled:placeholder-shown+span,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown+span::before,
.pure-material-textfield-outlined>input:disabled:placeholder-shown+span::after,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span::before,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {

    .pure-material-textfield-outlined>input,
    .pure-material-textfield-outlined>input+span,
    .pure-material-textfield-outlined>textarea,
    .pure-material-textfield-outlined>textarea+span,
    .pure-material-textfield-outlined>input+span::before,
    .pure-material-textfield-outlined>input+span::after,
    .pure-material-textfield-outlined>textarea+span::before,
    .pure-material-textfield-outlined>textarea+span::after {
      transition-duration: 0.1s;
    }
  }
}




/* ====== Footer ===== */
.footer__container {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5rem;
  overflow: hidden;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid #f7f8fa
}